.form{
    padding: 6% 2rem;
}

.form-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form h2{
    margin-bottom: 3rem;
    font-weight: 400;
}

